body {
    text-align: center;
    font-family: sans-serif;
    color: #ffffff;
}
header {
    margin: 50px 50px;
}

#description {
    font-style: italic;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    text-align: center;
    width: 40vw;
    margin: 0 auto;
    
}

form#survey {
    background-color: rgba(27, 27, 50, 0.8);
    padding: 1.5rem;
    display: block;
    border-radius: 0.5rem;
}

form .form-group {
    text-align: left;
    display: block;
    color: #ffffff;
    font-size: 14pt;
    font-weight: 400;
    margin: 2%;
    
}

form .form-group label,
form .form-group input {
    display: block;
    padding-top: 5px;
}

form .form-group input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0.5rem;
}

form .form-group input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

label {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

label .optional {
    font-size: 12pt;
}

.form-group select {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-group input.radio-btn {
    display: inline-block;
    width: inherit;
    margin: auto 10px auto 0;
}

#comments {
    width: 100%;
}

#submit {
    width: 100%;
    background-color:#37af65;
    padding: 1rem;
    color:white;
    border-style: none;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 50px;
}